.news-app {
  @include main-padding;

  &__header {
    padding-top: $spacing--m;
    padding-bottom: $spacing--m;
    text-align: center;
  }

  &__news {
    text-align: center;
  }

  &__countries {
    padding-top: $spacing--m;
    padding-bottom: $spacing--m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing--xxs;

    @include mq($until: s) {
      max-width: 75%;
      margin: auto;
    }

    @include mq($from: s) {
      flex-direction: row;
    }

    &-button {
      font-size: 18px;
      font-weight: 560;
      background: none;
      border: 1px solid white;
      border-radius: 5px;
      padding: 5px 20px;
      color: white;
      cursor: pointer;

      &:hover {
        background: lighten($color-tn-blue, 40%);
      }

      &--active {
        background: lighten($color-tn-blue, 20%);
      }
    }
  }
}