@use "sass:math";

.news-headline {
  $gap: $spacing--m;
  text-align: left;
  border: 1px solid $color-active;
  border-radius: $spacing--xxs;
  padding: $spacing--s;

  @include mq($from: s) {
    display: flex;
    flex-direction: column;
  }

  &__meta {
    margin-top: auto;

    @include mq($from: l) {
      display: flex;
      justify-content: space-between;
      gap: $gap;
    }
  }

  &__author {
    position: relative;
  }

  &:hover {
    background-color: $color-active;
  }
}