.news-app {
  @include main-padding;

  &__header {
    padding-top: $spacing--m;
    padding-bottom: $spacing--m;
    text-align: center;
  }

  &__news {
    text-align: center;
    padding-bottom: $spacing--m;

    &-items {
      max-width: 840px;
      margin: auto;
      display: grid;
      gap: $spacing--m;

      @include mq($from: s) {
        grid-template-columns: repeat(2, 1fr);

        &-headline {
          &:first-child {
            grid-column: 1/-1;
          }
        }
      }
    }
  }

  &__countries {
    padding-top: $spacing--m;
    padding-bottom: $spacing--m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing--xxs;

    @include mq($until: s) {
      max-width: 75%;
      margin: auto;
    }

    @include mq($from: s) {
      flex-direction: row;
    }

    &-button {
      font-size: 18px;
      font-weight: 600;
      background: none;
      border: 1px solid white;
      border-radius: $spacing--nudge;
      padding: $spacing--nudge $spacing--xs;
      color: white;
      cursor: pointer;

      &:hover {
        background: $color-hover;
      }

      &--active {
        background: $color-active;
      }
    }
  }
}